mypy
pyright
cachetools
types-cachetools
PyQt6
PyQt6-Qt6
PyQt6_sip
pyqt6rc
pytablericons
pytest
pytest-cov
pytest-qt
pytest-xdist
pympler
pyinstaller
psutil
coloredlogs
plotly
dash
numpy
PyQt6-WebEngine
kaleido
matplotlib
uncertainties
pandas
scipy
joblib
dogpile.cache