name: Create Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller
          pip install -e .

      - name: Build with PyInstaller
        run: |
          pyinstaller HELIUM.spec --clean -y

      - name: Archive build artifacts
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: build-${{ matrix.os }}
          path: dist/

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Ubuntu Build Artifact
        uses: actions/download-artifact@v3
        with:
          name: build-ubuntu-latest
          path: dist/ubuntu

      - name: Download macOS Build Artifact
        uses: actions/download-artifact@v3
        with:
          name: build-macos-latest
          path: dist/macos

      - name: Download Windows Build Artifact
        uses: actions/download-artifact@v3
        with:
          name: build-windows-latest
          path: dist/windows

      - name: Compress macOS Build Artifact
        run: |
          cd dist/macos
          zip -r HELIUM-macos.zip HELIUM.app

      - name: Create Release and Upload Assets
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          assets: |
            dist/ubuntu/HELIUM
            dist/macos/HELIUM-macos.zip
            dist/windows/HELIUM.exe
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}